html, 
body {
  font-family: Arial, sans-serif;
}

.button-class {
    background-color: #4c65ae; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: grey;
    color: white;
    border: 2px solid #4c65ae;
  }
#modal-container {
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0, 0.5);

  /*shows it above other content */
  z-index: 999;

  /* allows if the screen is not big enough*/
  overflow: auto;

  /*this styling centers the modal*/
  display:grid;
  text-align: center;
}
 

.modal-title h2 {
  margin-top: 0;
}

.modal-body {
  margin: auto;
  display: inline-block;
  box-sizing: border-box;
  background: #fff;
  padding: 15px;
  width: 100%;
  max-width: 700px;
  text-align: left;

}
/* button to exit out of modal*/
.modal-close {
  float: right;
  -webkit-apperance: none;
  border: 0;
  background: none;
  color: #777;
  text-decoration: underline;


}
.modal-body p {
  margin-bottom: 0;

}

*/I would love to have Pikachu chillin in my App but not sure how to add him/style him in CSS*/
.pokemon-modal-image {

}